<div class="row justify-content-center">
    <div class="d-flex flex-column align-items-center my-10 " >
        <h2 class="site-paragraph-l mt-10">
          Thanks for your interest. Enter your name and details 
          so we can connect you with one of our team.
        </h2>
        <!-- <div class="row justify-content-center"> -->
        <div class="col-lg-5 col-md-6 col-sm-6 mt-10">
          <form>
            <div class="form-group mt-10">
              <label for="name">Your name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                placeholder="Your name"
              />
            </div>
            <div class="form-group my-4">
              <label for="exampleInputEmail1">Your work email</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              
            </div>
      
            <div class="my-4">
              <h2 class="site-paragraph-m">Select your service</h2>
              <div class="d-flex flex-lg-row flex-md-column flex-sm-column">
                <div class="form-check ">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Staff Augmentation
                  </label>
                </div>
      
                <div class="form-check">
                  <input
                    class="form-check-input mx-lg-3"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Dedicated Teams
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input mx-lg-3"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault3"
                  />
                  <label class="form-check-label" for="flexRadioDefault3">
                    Outsourcing
                  </label>
                </div>
              </div>
            </div>
      
            <div>
              <h2 class="site-paragraph-m ">How can we help?</h2>
              <textarea
                class="form-control"
                aria-label="With textarea"
                style="height: 100px"
              ></textarea>
            </div>
            <div class="d-flex justify-content-end my-5"> 
              <button type="submit" class="btn btn-success ">Get Started</button>
      
            </div>
      
          </form>
        </div>
      </div>
</div>


