<div class="container-fluid">
  <div class="row justify-content-end overflow-hidden">
    <div class="col-lg-2 vh-100 client-section">
      <div class="client-section2">
        <p class="text-white text-center mb-4 fs-5">
          Amazing clients who trust us
        </p>
        <div class="d-flex flex-column align-items-center">
          <img
            alt="image"
            class="my-4 logo"
            src="assets/img/Client Logos/Relo AI.svg"
          />
          <img
            alt="image"
            class="my-4 logo"
            src="assets/img/Client Logos/Jabulani Consulting.png"
          />
          <img
            alt="image"
            class="my-4 logo"
            src="assets/img/Client Logos/sightera-logo.svg"
          />
          <img
            alt="image"
            class="my-4 logo"
            src="assets/img/Client Logos/Credence-Research-Logo.webp"
          />

          <img
            alt="image"
            class="my-4"
            src="assets/img/ezaccess-logo.png"
         style="height: 80px;"
          />
          <img
            alt="image"
            class="my-4 custom-img logo"
            src="assets/img/signet-logo.svg"
    
          />
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-xxl-10">
      <div class="">
        <!-- <a href="/" class="logo-dark"
          ><img
            alt="image"
            class="img-fluid mb-5"
            style="height: 40px"
            src="assets/img/logo_dark.svg"
        /></a> -->

        <!-- <h3 class="site-paragraph-l text-site-neutrals-500">
          Thanks for your interest. Enter the details below to get started.
        </h3> -->

        <div class="row">
          <!-- <iframe
            src="https://ba6e1839.sibforms.com/serve/MUIFAJH2Tli35WjhztddXJ7aOG89ysEhor_UjhB8TJKfqSxkRVOMpL9wKdI2WXymwzBHA-HetlXkjI8D0W6Hva5pioGYJwEt6TaXWqW_ZlqPVc-L0OKWhGeBXFEC9DW5jBfHtFqkmNpkWD3qdLsIdvDJHUeuWBRZ9DIw646EqVbSAVNXwm5-6jjzLFu-nLFi5NKleHf1oqG5WGi3"
            frameborder="0"
            scrolling="auto"
            allowfullscreen
            style="
              display: block;
              margin-left: auto;
              margin-right: auto;
              max-width: 100%;
              height: 80vh;
            "
          ></iframe> -->
          <div class="container">
            <div class="row ">
                <div class="col-12">
                    <div id="calendly-inline-widget" style="min-width:320px;height:100vh;">
                      </div>
                </div>
                </div>
            </div>

          <!-- <form [formGroup]="basicDetailsForm">
            <div class="form-group">
              <label for="name">Your name</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                [placeholder]="isLoading ? '' : 'Your name'"
                formControlName="name"
                [ngClass]="{ 'is-invalid': hasError('name') }"
                [disabled]="isLoading"
              />
              <div class="invalid-feedback">Name is required</div>
            </div>
            <div class="form-group my-2">
              <label for="email">Your work email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
                formControlName="email"
                [ngClass]="{
                  'is-invalid': hasError('email') || hasEmailFormatError()
                }"
              />
              <div *ngIf="hasEmailFormatError()" class="invalid-feedback">
                Invalid email format
              </div>
              <div
                *ngIf="hasError('email') && !hasEmailFormatError()"
                class="invalid-feedback"
              >
                Email is required
              </div>
            </div>

            <div class="form-group my-2">
              <label for="industry">Your work industry</label>
              <select type="industry" class="form-control" id="industry" aria-describedby="industryHelp" placeholder="Enter industry"
                formControlName="industry" [ngClass]="{
                  'is-invalid': hasError('industry')
                }" >

                <option *ngFor="let item of industryList" [value]="item.Description">{{item.Description}}</option>

              </select>
              
              <div *ngIf="hasError('industry')" class="invalid-feedback">
                Industry is required
              </div>
            </div>

            <div>
              <label class="" for="serviceMessage"
                >Tell us about your business.</label
              >
              <textarea
                class="form-control"
                aria-label="With textarea"
                style="height: 100px"
                id="serviceMessage"
                placeholder="Explain in detail what your business does"
                formControlName="serviceMessage"
                [ngClass]="{ 'is-invalid': hasError('name') }"
              ></textarea>
              <div class="invalid-feedback">
                Business information is required
              </div>
            </div>

            <div>
              <label class="" for="challenges">Challenges</label>
              <textarea
                class="form-control"
                aria-label="With textarea"
                style="height: 100px"
                id="challenges"
                placeholder="Highlight the Challenges that you want to solve with AI"
                formControlName="challenges"
              ></textarea>
            </div>

            <div class="d-flex justify-content-end my-5">
              <a class="btn btn-success px-3" (click)="onSubmit()">Submit </a>
            </div>
          </form> -->
        </div>
      </div>
    </div>
    
  </div>
</div>
