.site-paragraph-l {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-family: Outfit, sans-serif;
    font-weight: 400
}
input[type=radio] {
    cursor: pointer;
    align-items: center;
}
.form-check-input[type=radio]:checked {
    background-color: #198754;
}