.home1-banner-section {
    height: calc(100vh - 120px);
}

.home1-banner-bottom.two {
    transform: rotate(-2deg) translateY(-13px);
    margin-top: -30px;
}
.typing-animation-height {
    height: 170px;
  }

  .home2-banner-section .banner-img img{
    border-radius: 15px;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    display: block;
    margin: 0 auto;
  }
}