<section class="section-container bg-white">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-5">
        <div
          class="section-title text-left mb-50 wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <h2 class="mb-4 faq ">Frequently Asked Questions</h2>
        </div>
        <div class="contact-info">
          <div class="customer-support info">
            <div>
              <p class="mb-2">For technical support</p>
              <p class="heading-text mb-2">
                <a href="mailto:support@miloassistant.ai"
                  >support&#64;miloassistant.ai</a
                >
              </p>
            </div>
            <div>
              <img
                class="icon"
                src="assets/img/icons/headphones.svg"
                alt=""
              />
            </div>
          </div>
          <div class="email-support info">
            <div>
              <p class="mb-2">For enterprise enquiry</p>
              <p class="heading-text mb-2">
                <a href="mailto:sales@miloassistant.ai"
                  >sales&#64;miloassistant.ai</a
                >
              </p>
            </div>
            <div>
              <img class="icon" src="assets/img/icons/email.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="accordion accordion-flush" id="accordionFAQ">
          <div *ngFor="let faq of faqs; let i = index" class="accordion-item">
            <p class="fs_20 fw_6 mb-2 accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapse' + i"
                aria-expanded="false"
                [attr.aria-controls]="'flush-collapse' + i"
                (click)="toggleFaq(i)"
              >
                {{ faq.data.question.iv }}
              </button>
            </p>
            <div
              [id]="'flush-collapse' + i"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFAQ"
              [ngClass]="{'show': faq.isOpen}"
            >
              <div class="accordion-body" [innerHTML]="faq.data.answer.iv">
              </div>
            </div>
          </div>
        </div>
        
        <!-- <div
          class="accordion wow fadeInLeft"
          data-wow-delay="0.3s"
          id="accordionExample"
        >
          <div *ngFor="let faq of faqs; let i = index" class="accordion-item">
            <h3 class="accordion-header" id="heading{{ i }}">
              <button
                class="accordion-button"
                type="button"
                (click)="toggleFaq(i)"
                [attr.aria-expanded]="faq.isOpen"
                [attr.aria-controls]="'collapse' + i"
              >
                {{ faq.data.question.iv }}
              </button>
            </h3>
            <div
              id="collapse{{ i }}"
              class="accordion-collapse collapse"
              [ngClass]="{ show: faq.isOpen }"
              data-bs-parent="#accordionExample"
            >
              <div class="accordian-body">
                <div class="inner">
                  <div class="accordion-content">
                    <p class="disc fs_14" [innerHTML]="faq.data.answer.iv"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div *ngFor="let faq of faqs; let i = index" class="faq-card mb-3" [ngClass]="{'active': faq.isOpen}">
          <div
            class="faq-card-header"
          
            (click)="toggleFaq(i)"
            style="cursor: pointer"
          >
            <h3 class="mb-0 faq-que"> 
              {{ faq.data.question.iv }}
            </h3>
            <i
              class="float-right"
              [class]="faq.isOpen ? 'fas fa-chevron-up' : 'fas fa-chevron-down'"
            ></i>
          </div>

          <div *ngIf="faq.isOpen" class="collapse show faq-answer" [ngClass]="{'open': faq.isOpen}">
            <div class="card-body faq-ans" [innerHTML]="faq.data.answer.iv">
              
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
