<div class="breadcrumb-section" style="
    background-image: url(assets/img/innerpage/breadcrumb-bg1.png),
      linear-gradient(180deg, #121212 0%, #121212 100%);
  ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-wrapper">
          <div class="banner-content">
            <ul class="breadcrumb-list">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li>Blog</li>
            </ul>
            <h1>Company Updates & Technology Articles</h1>
          </div>
          <div class="scroll-down-btn">
            <a (click)="scrollToSection()" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 19 29">
                <path d="M9.5 0V28M9.5 28C10 24.3333 12.4 17.1 18 17.5M9.5 28C8.5 24.1667 5.4 16.7 1 17.5"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <span *ngIf="isLoading" class="spinner-border spinner-border-sm mt-5" role="status"></span>
</div>

<div class="blog-grid-section scroll-margin pt-120 mb-120" id="blog-grid">
  <div class="container">
    <div class="row g-4 mb-50">
      @for (post of posts; track post) {
      <div class="col-lg-4 col-md-6 wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms" style="
          visibility: visible;
          animation-duration: 1500ms;
          animation-delay: 200ms;
        ">
        <div class="card-wrapper"> <img alt="image" src="assets/img/logo_light.svg" class="dcl-logo">
          <img alt="image" src="assets/icons/diamond-square.svg" class="diamond-icon">
          <div class="blog-card style-2 h-100">
            <div class="blog-card-img-wrap">
              <img [routerLink]="['/blog/', post.data?.slug?.iv]" class="card-top-img" [src]="
                  'https://cloud.squidex.io/api/assets/distinct-cloud-labs/' +
                  post?.data?.thumbnail?.iv[0]
                " alt="" />
            </div>
            <div class="card-content">
              <div class="card-text-info">
                <h4 [routerLink]="['/blog/', post.data?.slug?.iv]">
                  {{
                  post.data?.title?.iv
                  }}
                </h4>
              </div>
              <a [routerLink]="['/blog/', post.data?.slug?.iv]" class="btn btn-success w-100">Read More
                <img src="assets/icons/sm-arrow-upright.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>