.card-wrapper {
  border-radius: 16px;
  background: #101112;
  padding: 34px;
  position: relative;
  overflow: hidden;
}
.dcl-logo {
  width: 100px;
  height: 29px;
  flex-shrink: 0;
}
.diamond-icon {
  position: absolute;
  top: -36px;
  right: 0;
  width: 60px;
  height: 117.366px;
  flex-shrink: 0;
}
.blog-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  margin-top: 34px;
}
.blog-card .card-top-img {
  height: 332px;
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
  //   border: 1px solid #fff;
}

.blog-card {
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    // min-height: 210px;
    padding: 0;
    gap: 34px;
  }
}
.blog-card .card-content .card-text-info {
  h4 {
    color: #fff;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-height: 140px;
    margin: 0;
    cursor: pointer;
  }
}
.btn {
  flex-shrink: 0;
  img {
    width: 24px;
    height: 24px;
  }
}
