<div class="container-fluid overflow-x-hidden">
  <div class="row justify-content-end overflow-hidden">
    <div class="col-lg-9">
      <div class="col-lg-12 offset-lg-3" style="margin-top: 10%">
        <a href="/" class="logo-dark"
          ><img
            alt="image"
            class="img-fluid mb-5"
            style="height: 40px"
            src="assets/img/logo_dark.svg"
        /></a>

        <div class="row col-lg-7 col-xxl-6">
          <form [formGroup]="startDateForm">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="site-paragraph-l text-secondary">
                      When is the expected start date?
                    </h4>
                  </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="d-flex align-items-center">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="flexRadioDefault1"
                      formControlName="startDate"
                      value="I'm already late"
                      (click)="hideMonths()"
                    />
                    <label
                      class="form-check-label m-2"
                      for="flexRadioDefault1 "
                    >
                      I'm already late
                    </label>
                  </div>
                  <div class="d-flex align-items-center">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="flexRadioDefault2"
                      formControlName="startDate"
                      value="Immediately"
                      (click)="hideMonths()"
                    />
                    <label
                      class="form-check-label m-2"
                      for="flexRadioDefault2 "
                    >
                      Immediately
                    </label>
                  </div>

                  <div class="d-flex align-items-center">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="flexRadioDefault3"
                      formControlName="startDate"
                      value="When I get internal funding/approval"
                      (click)="hideMonths()"
                    />
                    <label
                      class="form-check-label m-2"
                      for="flexRadioDefault3 "
                    >
                      When I get internal funding/approval
                    </label>
                  </div>
                  <div class="d-flex align-items-center">
                    <input
                      class="form-check-input specifyDate"
                      type="radio"
                      id="flexRadioDefault4"
                      (click)="specifyDate()"
                      formControlName="startDate"
                      value="specifyDate"
                    />
                    <label
                      class="form-check-label specifyDate m-2"
                      for="flexRadioDefault4"
                    >
                      Specify a date
                    </label>
                  </div>
                  <div class="row" *ngIf="showMonths === true">
                    <div class="col-lg-12 offset-xl-1">
                      <div class="d-flex flex-column flex-xl-row">
                        <div class="d-flex align-items-center mx-2">
                          <input
                            class="form-check-input mx-2"
                            type="radio"
                            id="flexRadioDefault5"
                            formControlName="startDate"
                            value="1 month"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault5 "
                          >
                            1 month
                          </label>
                        </div>
                        <div class="d-flex align-items-center mx-2">
                          <input
                            class="form-check-input mx-2"
                            type="radio"
                            id="flexRadioDefault6"
                            formControlName="startDate"
                            value="2 months"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault6"
                          >
                            2 months
                          </label>
                        </div>
                        <div class="d-flex align-items-center mx-2">
                          <input
                            class="form-check-input mx-2"
                            type="radio"
                            id="flexRadioDefault7"
                            formControlName="startDate"
                            value="3 months"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault7"
                          >
                            3 months
                          </label>
                        </div>
                        <div class="d-flex align-items-center mx-2">
                          <input
                            class="form-check-input mx-2"
                            type="radio"
                            id="flexRadioDefault8"
                            formControlName="startDate"
                            value="6 months"
                          />
                          <label for="flexRadioDefault8"> 6 months </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex align-items-center">
                    <input
                      class="form-check-input"
                      type="radio"
                      id="flexRadioDefault9"
                      formControlName="startDate"
                      value="I don't know"
                      (click)="hideMonths()"
                    />
                    <label class="form-check-label m-2" for="flexRadioDefault9">
                      I don't know
                    </label>
                  </div>
                </div>
                <div
                  *ngIf="hasError('startDate')"
                  class="custom-invalid-feedback my-0"
                >
                  Start Date is required
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between my-5">
              <a class="btn btn-dark px-3" (click)="back()"
                ><i class="bi bi-arrow-left px-2"></i>Back
              </a>
              <a class="btn btn-success px-3" (click)="onSubmit()"
                >Next<i class="bi bi-arrow-right px-2"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-2 vh-100 client-section">
      <div class="" style="margin-top: 150px">
        <p class="text-white text-center mb-4 fs-5">
          Amazing clients who trust us
        </p>
        <div class="text-center">
          <img alt="image" class="my-2" src="assets/img/polyone-logo.png" />

          <img
            alt="image"
            class="my-3"
            src="assets/img/diywork-logo.png"
            style="height: 50px"
          />
          <img
            alt="image"
            class="my-3 custom-img"
            src="assets/img/upmatch-logo.png"
            style="height: 50px"
          />
          <img
            alt="image"
            class="my-3"
            src="assets/img/ezaccess-logo.png"
            style="height: 80px"
          />
          <img
            alt="image"
            class="my-3"
            src="assets/img/eazynft-logo.png"
            style="height: 40px"
          />
          <img
            alt="image"
            class="my-3 custom-img"
            src="assets/img/signet-logo.svg"
            style="height: 50px"
          />
        </div>
      </div>
    </div>
  </div>
</div>
