<p>start-date works!</p>
<div class="container-fluid overflow-x-hidden">
    <div class="row justify-content-end overflow-hidden">
      <div class="col-lg-9">
        <div class="col-lg-12 offset-lg-3" style="margin-top: 10%">
          <a href="/" class="logo-dark"
            ><img
              alt="image"
              class="img-fluid mb-5"
              style="height: 40px"
              src="assets/img/logo_dark.svg"
          /></a>
  
          <div class="row">
            <form class="col-lg-5">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <h4 class="site-paragraph-l text-secondary">
                        When is the expected start date?
                      </h4>
                    </div>
                  </div>
                  <div class="form-group col-lg-4">
                      <div class="d-flex align-items-center">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault3"
                          />
                          <label class="form-check-label m-2" for="flexRadioDefault3 ">
                            I"m already late
                          </label>
                        </div>
                        <div class="d-flex align-items-center">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault3"
                          />
                          <label class="form-check-label m-2" for="flexRadioDefault3 ">
                            Immediately
                          </label>
                        </div>
          
                        <div class="d-flex align-items-center">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault3"
                          />
                          <label class="form-check-label m-2" for="flexRadioDefault3 ">
                            When I get internal funding/approval
                          </label>
                        </div>
                        <div class="d-flex align-items-center">
                          <input
                            class="form-check-input specifyDate"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault3"
                      
                          />
                          <label class="form-check-label specifyDate m-2" for="flexRadioDefault3 " >
                            Specify a date
                          </label>
                        </div>
                        <div class="additionalInfo row " >
                            <div class="col-lg-12  offset-lg-2">
                                <div class="d-flex">
                                    <div class="d-flex align-items-center">
                                        <input
                                        class="form-check-input"
                                        type="radio"
                                        name="flexRadioDefault"
                                        id="flexRadioDefault3"
                                      />
                                      <label class="form-check-label " for="flexRadioDefault3 " >
                                        1 month
                                      </label>
                                      </div>
                                      <div class="d-flex align-items-center ">
                                        <input
                                          class="form-check-input"
                                          type="radio"
                                          name="flexRadioDefault"
                                          id="flexRadioDefault3"
                                        />
                                        <label class="form-check-label m-2" for="flexRadioDefault3 ">
                                          2 months
                                        </label>
                                      </div>
                                      <div class="d-flex align-items-center">
                                        <input
                                          class="form-check-input"
                                          type="radio"
                                          name="flexRadioDefault"
                                          id="flexRadioDefault3"
                                        />
                                        <label class="form-check-label m-2" for="flexRadioDefault3 ">
                                          3 months
                                        </label>
                                      </div>
                                      <div class="d-flex align-items-center">
                                        <input
                                          class="form-check-input"
                                          type="radio"
                                          name="flexRadioDefault"
                                          id="flexRadioDefault3"
                                        />
                                        <label class="form-check-label m-2" for="flexRadioDefault3 ">
                                          6 months
                                        </label>
                                      </div>
                                </div>
                             
                          
                               
                            </div>
                           
                        </div>
                       
                        <div class="d-flex align-items-center">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault3"
                          />
                          <label class="form-check-label m-2" for="flexRadioDefault3 ">
                            I don't know
                          </label>
                        </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-end my-5">
                <button type="submit" class="btn btn-success px-3">
                  Next <i class="bi bi-arrow-right"></i>
                </button>
              </div>
           
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-2 bg-dark">
        <h3 class="text-white">
            Amazing clients who trust us
          </h3>
      </div>
    </div>
  </div>
  