.process-card {
  .content {
    height: 300px;

    @media (max-width: 767px) {
      height: auto;
    }
  }
}
.home3-banner-section .banner-content {
  text-align: left !important;
}
.home3-banner-section .banner-content ul {
  gap: 3px;
  margin-bottom: 5px;
}
.review span {
  color: #fff9;
}

.review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home3-banner-section .banner-content p {
  margin-bottom: 20px;
}

.banner-content p {
  
  padding-bottom: 0px;
}

.google .rating .star li i {
  color: #ffc107;
}
.clutch .rating .star li i {
  color: #e62415;
}

.home3-banner-section .banner-content .single-rating {
  display: flex;

  margin-bottom: 20px;
  align-items: center;
}

.home3-banner-section .banner-content .rating {
  margin-left: 20px;
  margin-bottom: 0px !important;
}
.home3-banner-section .banner-content .rating-area {
  margin-top: 30px;
}

@media (max-width: 576px) {
  // new style
  .home3-banner-section .banner-content .rating {
    margin-left: 0px;
    margin-bottom: 0px !important;
  }
  .home3-banner-section .banner-content ul {
    gap: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
  .home3-banner-section .banner-content .single-rating {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .home3-banner-section {
    padding: 90px 0 20px;
  }
  .home3-banner-section {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .home3-banner-section {
    padding: 30px 0 30px;
  }
  .home3-banner-section {
    margin-bottom: 50px;
  }
}
// @media (max-width: 1400px) {
//   .home3-banner-section .bottom-img3 {
//     bottom: -10%;
//     max-width: 325px;
//   }
// }
@media (min-width: 1400px) and (max-width: 1599px) {
  .home3-banner-section .bottom-img3 {
    bottom: -10%;
    max-width: 325px;
    right: 25px !important;
  }
}
@media (max-width: 1699px) {
  .home3-banner-section {
    margin-bottom: 0px;
  }
  .banner-bottom {
    margin-bottom: 50px !important;
  }
}

.home3-banner-section .bottom-img3 {
  position: absolute;
  right: 45px;
  bottom: -13%;
}
.banner-bottom {
  background-color: var(--bs-success);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: #fff9;
  padding: 20px;
  margin-bottom: 120px;
  background-position: left;
  background-size: contain;
  h3 {
    color: #fff;
  }
  p {
    margin-bottom: 0px;
    line-height: normal;
  }
  a {
    margin-top: 11%;
  }
}
.gen-ai-img {
  padding: 10% 3%;
}
.home3-countdown-section .single-countdown .content .number h3 {
  color: var(--white-color);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1;
}
.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  justify-items: center;
  align-items: center;
  // margin: 3rem auto;
  margin-top: 30px;
  gap: 10px;
  max-width: 400px;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // padding: 1rem;
}

.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100px;

  transition: all 0.3s ease;
}
/* Ensure widget container is visible */
.clutch-widget-container {
  min-height: 60px; /* Match your design */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Widget iframe styling */
.clutch-widget iframe {
  border: none;
  width: 100%;
  max-width: 200px; /* Adjust based on your design */
  overflow: hidden;
}

  .contact-form-wrap{
    padding-left: 70px;
    // margin-top: -220px;
    @media (max-width: 1399px){
      padding-left: 40px;
    }
    @media (max-width: 1199px){
      padding-left: 0;
    }
    @media (max-width: 991px){
      margin-top: 0;
    }
    .contact-form-area{
      background-image: linear-gradient(180deg, #EDF1FC 0%, rgba(201, 215, 255, 0.13) 100%) !important;
      background-color: var(--dark-white-color);
      border-radius: 10px;
      padding: 40px 35px;
      @media (max-width: 1399px){
        padding: 40px 35px;
      }
      @media (max-width: 576px){
        padding: 30px 20px;
      }
      h3{
        font-size: 25px;
        font-family: var(--font-hankenGrotesk);
        font-weight: 700;
        margin-bottom: 35px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(var(--title-color-opc), 0.1);
        @media (max-width: 576px){
          font-size: 22px;
        }
      }
    }
  }
 
  .form-inner .phone-input {
    border-left: 0px;
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

::ng-deep .form-inner textarea {
  min-height: unset !important;
}

.primary-btn2 {
  width: 100%;
text-align: center;
}
.m-auto{
  margin:auto;
}
.banner-content-tag{
  display: inline-block;
      background-color: #00a359;
      padding: 2px 12px;
      border-radius: 20px;
      color: white;
      font-weight: 500;
}

@media (max-width: 576px) {
  .home3-banner-section .banner-content h1 {
    text-align: center !important;
    font-size: 48px;
  }
  .home3-banner-section .banner-content p {
    text-align: center !important;
    font-size: 14px;
  }
  .home3-banner-section .banner-content {
  text-align: center !important;
  }
}
.case-study-card2 .card-img img {
  width: 100%;
}

.case-study-card2 .card-content h2 {
  margin-bottom: 8px;
  min-height: 65px;
  line-height: 32px;
  font-size: 32px;
  a{
      color: #232323;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
  }
}

.thumbnail-wrapper {
  position: relative;
  display: inline-block;

  .verified-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    z-index: 2;
  //   box-shadow: 0 2px 6px rgba(0,0,0,0.1);

    img {
      width: 50px;
  height: 20px;
    }
  }
}
