<section>
  <div class="home1-banner-section px-0">
    <div class="container" style="max-width: 1800px">
      <div class="card rounded-4 overflow-auto">
        <div class="card-body overflow-auto">
          <h2 class="card-title text-center my-4">All Leads Generated</h2>
          <div class="text-end mb-3">
            <button
              (click)="downloadCSV(allLeads)"
              class="btn btn-success px-3"
            >
              Download as CSV
            </button>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Company</th>
                <th scope="col">Phone No.</th>
                <th scope="col">Service Requested</th>
                <th scope="col">Service Mesage</th>
                <th scope="col">Technology Needed</th>
                <th scope="col">Persons Needed</th>
                <th scope="col">Project Duration</th>
                <th scope="col">Budget</th>
                <th scope="col">Start Date</th>
              </tr>
            </thead>
            <tbody>
              @for(lead of allLeads; track i; let i=$index){
              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ lead.name }}</td>
                <td>{{ lead.email }}</td>
                <td>{{ lead.company }}</td>
                <td>{{ lead.phone }}</td>
                <td>{{ lead.serviceRequested }}</td>
                <td>{{ lead.serviceMessage }}</td>
                <td>{{ lead.technologyNeeded }}</td>
                <td>{{ lead.noOfPersonsNeeded }}</td>
                <td>{{ lead.projectDuration }}</td>
                <td>{{ lead.budget }}</td>
                <td>{{ lead.startDate }}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
