<div class="home3-testimonial-section mb-110">
  <div class="container">
    <div class="row justify-content-center mb-60">
      <div class="col-lg-8">
        <div
          class="section-title text-center wow animate fadeInDown"
          data-wow-delay="200ms"
          data-wow-duration="1500ms"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              viewBox="0 0 10 10"
            >
              <g>
                <circle cx="5" cy="5" r="5" />
              </g>
            </svg>
            Voices of Confidence
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="10"
              viewBox="0 0 10 10"
            >
              <g>
                <circle cx="5" cy="5" r="5" />
              </g>
            </svg>
          </span>
          <h2>Hear What Our Clients Say</h2>

          <p>
            Welcome to Distinct Cloud Labs, where digital innovation meets
            strategic excellence. As a dynamic force in the realm of digital
            marketing, we are dedicated to propelling businesses into the
            spotlight of online success.
          </p>
        </div>
      </div>
    </div>
    <div
      class="testimonial-wrap wow animate fadeInUp"
      data-wow-delay="400ms"
      data-wow-duration="1500ms"
    >
      <div class="row">
        <div class="col-lg-12">
          <div class="swiper home3-testimonial-slider">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide"
                *ngFor="let item of testimonials; let i = index"
              >
                <div class="testimonial-card3">
                  <div class="author-area">
                    <div class="author-img">
                      <img
                        [src]="
                          item?.data.profileImage.iv
                            ? item?.data.profileImage.iv
                            : 'assets/img/person-circle.svg'
                        "
                        alt=""
                      />
                    </div>
                    <div class="content">
                      <h6>{{ item?.data?.customerName?.iv }}</h6>
                      <span>{{ item?.data?.customerTitle?.iv }}</span>
                    </div>
                  </div>
                  <p style="color: black; font-weight: bold">
                    {{ item?.data?.testimonialHeading?.iv }}
                  </p>
                  <p class="fs-6 testimonial-text">
                    {{ item?.data?.testimonialText?.iv }}
                  </p>

                  <a
                    *ngIf="item?.data.reviewPlatform.iv === 'goodfirms'"
                    [href]="item?.data.ctaLink.iv"
                    class="read-more-btn"
                    target="_blank"
                    ><span>Read complete review on Goodfirms </span></a
                  >

                  <a
                    *ngIf="item?.data.reviewPlatform.iv === 'clutch'"
                    [href]="item?.data.ctaLink.iv"
                    class="read-more-btn"
                    target="_blank"
                    ><span>Read complete review on Clutch </span></a
                  >

                  <div class="logo-and-rating">
                    <div class="logo">
                      <img
                        [src]="
                          item?.data.reviewPlatform.iv === 'goodfirms'
                            ? 'assets/img/goodfirms-logo.png'
                            : 'assets/img/clutch-logo.png'
                        "
                        alt=""
                        [style.height.px]="
                          item?.data.reviewPlatform.iv === 'goodfirms'
                            ? 100
                            : 25
                        "
                      />
                    </div>
                    <ul class="rating" *ngIf="item?.data.rating.iv">
                      <li *ngFor="let starIndex of [1, 2, 3, 4, 5]">
                        <i
                          class="bi bi-star-fill"
                          [ngClass]="{
                            filled: starIndex <= item?.data.rating.iv
                          }"
                        ></i>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="row justify-content-end wow animate fadeInUp"
      data-wow-delay="600ms"
      data-wow-duration="1500ms"
    >
      <div class="col-md-6">
        <div class="slider-btn-and-pagination-wrap">
          <div class="franctional-pagi2"></div>
          <div class="slider-btn-group">
            <div class="slider-btn home3-testimonial-prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="11"
                viewBox="0 0 15 11"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.416666 5.9668H15V4.7168H0.416666V5.9668Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.04115 4.7168C3.98115 4.7168 6.38281 7.3018 6.38281 10.0585V10.6835H5.13281V10.0585C5.13281 7.96596 3.26448 5.9668 1.04115 5.9668H0.416979V4.7168H1.04115Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M1.04115 5.96667C3.98115 5.96667 6.38281 3.38167 6.38281 0.625V0H5.13281V0.625C5.13281 2.71833 3.26448 4.71667 1.04115 4.71667H0.416979V5.96667H1.04115Z"
                />
              </svg>
            </div>
            <div class="slider-btn home3-testimonial-next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="11"
                viewBox="0 0 15 11"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14.5833 5.9668H0V4.7168H14.5833V5.9668Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.9589 4.7168C11.0189 4.7168 8.61719 7.3018 8.61719 10.0585V10.6835H9.86719V10.0585C9.86719 7.96596 11.7355 5.9668 13.9589 5.9668H14.583V4.7168H13.9589Z"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M13.9589 5.96667C11.0189 5.96667 8.61719 3.38167 8.61719 0.625V0H9.86719V0.625C9.86719 2.71833 11.7355 4.71667 13.9589 4.71667H14.583V5.96667H13.9589Z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
