<div class="breadcrumb-section" style="
    background-image: url(assets/img/innerpage/breadcrumb-bg1.png),
      linear-gradient(180deg, #121212 0%, #121212 100%);
  ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-wrapper">
          <div class="banner-content">
            <ul class="breadcrumb-list">
              <li><a [routerLink]="['/home']">Home</a></li>
              <li>Terms and Conditions</li>
            </ul>
            <h1>Terms and Conditions for Distinct Cloud Labs</h1>
          </div>
          <div class="scroll-down-btn">
            <a (click)="scrollToSection()" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 19 29">
                <path d="M9.5 0V28M9.5 28C10 24.3333 12.4 17.1 18 17.5M9.5 28C8.5 24.1667 5.4 16.7 1 17.5"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-4 mb-4">
  <div class="col-8 mt-8">
    <p><strong>Last updated: September 23, 2024</strong></p>

    <p>Welcome to Distinct Cloud Labs! These terms and conditions outline the rules and regulations for using our
      website and services.</p>

    <p>By accessing or using our services, you agree to comply with and be bound by these Terms and Conditions. If you
      disagree with any part of these terms, you may not access our services.</p>

    <h2>1. Definitions</h2>
    <ul>
      <li><strong>"Company"</strong> refers to <strong>Distinct Cloud Labs</strong>, located at 
        Sadanand Business Center, Baner, Mahalunge, Pune, Maharashtra 411045


      </li>
      <li><strong>"Client"</strong> refers to any individual, company, or legal entity purchasing or using the services
        provided by Distinct Cloud Labs.</li>
      <li><strong>"Services"</strong> refer to all offerings provided by Distinct Cloud Labs, including but not limited
        to AI development, staff augmentation, software solutions, and consulting services.</li>
    </ul>

    <h2>2. Acceptance of Terms</h2>
    <p>By using any of our services, you confirm that you are at least 18 years of age and legally capable of entering
      into a binding contract. You agree to comply with these terms and any future amendments. Distinct Cloud Labs
      reserves the right to update or modify these terms at any time, with changes effective upon posting.</p>

    <h2>3. Services</h2>
    <p>Distinct Cloud Labs provides a wide range of custom AI development, machine learning services, and software
      solutions. The specific terms of service for individual projects or engagements will be defined in separate
      agreements or statements of work.</p>

    <h3>3.1. Project Scope and Deliverables</h3>
    <p>The scope of each project, including deliverables, timelines, and payment schedules, will be outlined in a
      separate agreement or contract. Changes to the scope of a project must be agreed upon in writing and may result in
      additional fees.</p>

    <h2>4. Payment Terms</h2>
    <p>Payment for services provided by Distinct Cloud Labs is required as per the agreed payment schedule in the
      relevant contract or agreement. All invoices must be paid in full within 15 days unless otherwise specified.</p>

    <h3>4.1. Payment Methods</h3>
    <p>We accept the following methods of payment:</p>
    <ul>
      <li>Bank transfer</li>
      <li>Credit/Debit card payments</li>
      <li>Razorpay/Online Payments</li>
    </ul>

    <h3>4.2. Late Payments</h3>
    <p>In the event of late payments, Distinct Cloud Labs reserves the right to charge interest at the rate of 1.5% per
      month on overdue amounts. If the Client fails to make a payment within 30 days of the invoice date, we may suspend
      all services until the account is brought current.</p>

    <h3>4.3. Payment Disputes</h3>
    <p>Any payment disputes must be reported in writing within 10 days of the invoice date. Distinct Cloud Labs will
      investigate the issue and work with the Client to resolve any discrepancies.</p>

    <h2>5. Refund and Cancellation Policy</h2>

    <h3>5.1. Service Cancellation</h3>
    <p>The Client may cancel the project at any time, subject to the terms outlined in the contract. Any cancellations
      must be submitted in writing. Upon cancellation, the Client will be responsible for any work completed and costs
      incurred up to the cancellation date.</p>

    <h3>5.2. Refund Policy</h3>
    <p>Refunds for services are generally not provided due to the custom nature of our work. However, refunds may be
      issued in certain circumstances, such as:</p>
    <ul>
      <li>Failure to deliver the agreed-upon services.</li>
      <li>Breach of contract on the part of Distinct Cloud Labs.</li>
    </ul>
    <p>Partial refunds may be considered on a case-by-case basis, depending on the work completed and the reason for
      cancellation.</p>

      <p>
         The refund turnaround time to process the refund and credit the amount to the customer's bank account is around 5-7 working days.
      </p>
    <h2>6. Intellectual Property</h2>
    <p>All intellectual property created by Distinct Cloud Labs during the project, including but not limited to
      software code, designs, and documentation, will remain the property of the Client upon full payment. However,
      Distinct Cloud Labs retains the right to reuse any general-purpose code or software libraries developed during the
      project.</p>

    <p>Distinct Cloud Labs retains the right to showcase non-confidential aspects of the project in our portfolio or
      marketing materials unless the Client expressly forbids it in writing.</p>

    <h2>7. Confidentiality</h2>
    <p>Both parties agree to keep all confidential information shared during the course of the project private and not
      to disclose such information to third parties without written consent. This confidentiality obligation remains in
      effect for five (5) years following the completion of the project.</p>

    <h2>8. Limitation of Liability</h2>
    <p>Distinct Cloud Labs will not be held liable for any indirect, incidental, or consequential damages arising out of
      the use or inability to use the services. The maximum liability for any claim related to the services provided
      will be limited to the amount paid by the Client for those services.</p>

    <h2>9. Force Majeure</h2>
    <p>Distinct Cloud Labs will not be liable for any delay or failure in performance due to circumstances beyond our
      reasonable control, including but not limited to acts of God, government restrictions, natural disasters, or
      technical failures.</p>

    <h2>10. Governing Law</h2>
    <p>These Terms and Conditions are governed by and construed in accordance with the laws of [Insert Jurisdiction],
      without regard to its conflict of law principles. Any disputes arising from these terms will be subject to the
      exclusive jurisdiction of the courts of [Insert Jurisdiction].</p>

    <h2>11. Termination</h2>
    <p>Either party may terminate the agreement for a breach of these terms with a 30-day written notice. Distinct Cloud
      Labs may terminate or suspend access to our services without prior notice if the Client fails to comply with these
      Terms and Conditions.</p>

    <h2>12. Entire Agreement</h2>
    <p>These Terms and Conditions, along with any contracts or agreements, constitute the entire agreement between the
      Client and Distinct Cloud Labs. No other terms or conditions, either verbal or written, will apply unless
      expressly agreed upon in writing.</p>

    <p>For more information about our Terms and Conditions, please contact us at contact[at]distinctcloud.io.</p>
  </div>
</div>