.case-study-card2 .card-img img {
  height: auto !important;
}
.card-wrapper {
  border-radius: 16px;
  background: #101112;
  padding: 34px;
  position: relative;
  overflow: hidden;
}
.dcl-logo {
  width: 100px;
  height: 29px;
  flex-shrink: 0;
}
.diamond-icon {
  position: absolute;
  top: -36px;
  right: 0;
  width: 60px;
  height: 117.366px;
  flex-shrink: 0;
}
.case-study-card3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  margin-top: 34px;
}
.case-study-card3 .card-top-img {
  border-radius: 8px;
  border: 1px solid #fff;
}
.case-study-card3 {
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 82px;
  }
}
.case-study-card3 .card-content .card-text-info {
  h2 {
    color: #fff;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    cursor: pointer;
  }
}
.clear-btn {
  flex-shrink: 0;
  img {
    width: 50px;
    height: 50px;
  }
}
