<div class="container-fluid overflow-x-hidden d-flex justify-content-center align-items-center min-vh-100">
  <div class="row justify-content-center w-100">
    <div class="col-md-6 text-center">
      <a href="/" class="logo-dark">
        <img
          alt="image"
          class="img-fluid mb-5"
          style="height: 50px"
          src="assets/img/logo_dark.svg"
        />
      </a>
      <p class="fs-6">Thank you! We'll be in contact soon.</p>
      <p class="fs-6">
        In the meantime, you can visit the
        <a [routerLink]="['/blog']" class="text-decoration-underline">
          Distinct Cloud Labs Blog
        </a>
        to read about the AI developments.
      </p>
      <p class="fs-6">
        You'll be automatically redirected to our blog in
        <span>{{ countdownText }}</span>.
      </p>
    </div>
  </div>
</div>