.testimonials-users > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.testimonials-footer a {
  color: var(--color-2);
  margin-bottom: 5px;
}

.testimonials-footer i {
  color: #ffc107;
  // font-size: 30px;
}
