.contact-section .contact-form-wrap {
  padding-left: 0px !important;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.contact-section {
  padding: 0px !important;
  margin-top: 0px !important;
}
.contact-section {
  background-color: transparent;
}
.contact-section .contact-form-wrap .contact-form-area {
  padding: 25px;
}