.custom-invalid-feedback {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
.client-section {
  background-image: url(../../../assets/img/home3/home3-banner-bg.png),
    linear-gradient(180deg, #0a0a0a 0%, #0a0a0a 100%);
  background-size: cover;
}
.custom-img {
  filter: grayscale(100%) invert(100%);
}

:host ::ng-deep {
  .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
    background: #198754 !important;
  }
}

:host ::ng-deep {
  .multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
    background: #198754 !important;
  }
}
