.site-paragraph-l {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 300;
  font-family: Outfit, sans-serif;
  font-weight: 400;
}
.site-paragraph-m {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: Outfit, sans-serif;
  font-weight: 400;
}
.custom-img {
  filter: grayscale(100%) invert(100%);
}

.client-section {
  background-image: url(../../../assets/img/home3/home3-banner-bg.png),
    linear-gradient(180deg, #0a0a0a 0%, #0a0a0a 100%);
  background-size: cover;
}
.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-y: auto;
}
