body{
  color: #072032;
}
.top-section {
  background-image: url("../../assets/img/bg.webp");
  background-size: cover;
  background-position: right;
}
.loader-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumb-section {
  // background-image: url("/assets/img/innerpage/breadcrumb-bg1.png"),
  //   linear-gradient(180deg, #121212 0%, #121212 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 74px 0px 0px;
}
h1 {
  // color: #072032;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  margin-bottom: 24px;
  word-spacing: -5px;
}
h1 + p {
  // color: #5c6972;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
h2 {
  color: #072032;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  // margin-bottom: 24px;
  word-spacing: -5px;
}
h2 + p {
  // color: #5c6972;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
h3{
  font-size: 20px;
}
h4,
h5,
p {
  font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  margin: 0;
}
.primary-btn2 {
  border-radius: 4px;
  background: #00a359;
  text-transform: uppercase;
  margin-top: 50px;
}
.top-section,
.tab-section {
  background-color: #ffffff;
  padding: 150px 0px;
}
.chat-section,
.platform-section,
.benefits-section,
.industries-section,
.safety-section,
.faq-section,
.explore-section {
  padding: 25px 0px 25px;
  background-color: #ffffff;
  .container {
    margin-top: 50px;
  }
}

.top-section {
  .product-logo {
    width: 130.638px;
    height: 39px;
    flex-shrink: 0;
    margin-bottom: 40px;

  }
}
.banner-info {
  margin-top: 50px;
  border: none;
  justify-content: center;
  .banner-users-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-top: 0;
    .banner-users-top {
      display: flex;
      align-items: center;
      ul {
        display: flex;
      }
      .users-list li {
        width: 50px;
        border-radius: 50px;
        // border: 2px solid var(--worning-color);
        border: 2px solid #fff;
        // border: 2px solid #00a359;
        // border: 2px solid #072032;
        overflow: hidden;
        background: var(--worning-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .users-list li:not(:first-child) {
        margin-left: -20px;
      }
      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        margin-top: 0;
      }
      .tag {
        // font-family: "Poppins", serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 29.72px;

        margin: 0;
      }
    }
  }
}
.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  //   gap: 44px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #dadce0;
  // overflow-x: auto;
  .tab {
    // color: #808387;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 44px;
    white-space: nowrap;
    cursor: pointer;
  }
  .tab-border-right {
    border-right: 1px solid #dadce0;
  }
  .selected-tab {
    color: #00a359;
    font-weight: 600;
  }
}
.benefit-card {
  padding: 34px;
  border-radius: 14px;
  // border: 1px solid #dadce0;
  // background: linear-gradient(129deg, #f7f7fa 19.26%, #edf7fc 97.48%), #f7f7fa;
  background-color: #f0f2f8;;
  img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.section-container-1 {
  padding: 0 30px 70px 30px !important;
  overflow: hidden !important;
}

.section-container-1 {
  padding: 70px 30px 70px 30px !important;
  overflow: hidden !important;
}
.section-container-2 {
  padding: 70px 30px 0 30px !important;
  overflow: hidden !important;
}

.bg-primary {
  background-color: #072032 !important;
} 


.accordion .accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background: #10293a;
}
.accordion .accordion-button {
  background: #10293a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 25px 62px 25px 25px;
  box-shadow: none;
}


.accordion .accordion-header .accordion-button:before {
  float: right !important;
  content: "";
  padding-right: 0;
  position: absolute;
  right: 25px;
  height: 40px;
  width: 40px;
  background: url(../../assets/img/icons/minus.svg) no-repeat;
}
.accordion .accordion-header .accordion-button.collapsed:before {
  float: right !important;
  content: "";
  background: url(../../assets/img/icons/plus.svg) no-repeat;
}
.accordion .accordion-body {
  padding: 0 25px 30px;
}

.accordion .accordion-item {
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  background: #10293a;
}
.accordion .accordion-button {
  background: #10293a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 25px 62px 25px 25px;
  box-shadow: none;
}
.accordion .accordion-button::after,
.banner-shape-mobile,
.mobile-logo,
.plan-mobile {
  display: none;
}
.accordion .accordion-content p,
.button-style-2,
.footer a,
.footer p {
  color: #ffffff;
}