.footer-logo {
  width: 150px;
}

.rating {
  line-height: 1;
  align-self: flex-end !important;
  .star {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 0 !important;
    line-height: 1;

    li {
      i {
        color: #e62415;
        font-size: 12px;
      }
    }
  }
  span {
    color: var(--text-color);
    font-family: var(--font-inter);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
}

.footer-section .footer-top .footer-widget .subscribe-area .subscribe-form-wrap .subscribe-form input {
  min-width: 280px;
@media screen and (min-width:992px) {
  min-width: 267px;
}
}