
.form-inner label {
  color: #7d7c7c;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.form-title {
  color: #04e781;
  // font-family: "Hartwell Alt";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  margin: 24px 0;
}

.btn-close-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  z-index: 1;
}

.clear-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
}

.btn-icon-wrapper {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 28px;
  background: #23af6f;
  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }
}
.case-study-card2 .card-content h4 {
  margin-bottom: 8px;
}

.case-study-card2 .card-content h4 a {
  color: #232323;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.case-study-card2 .card-content p {
  color: var(--Grays-Gray-2, var(--Grays-Gray-2, #aeaeb2));
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.case-study-card2 .card-content {
  padding: 24px 16px;
  background-color: #f4f4f4;
  border-radius: 0px 0px 10px 10px;
}
.section-container {
  padding: 70px 30px !important;
  overflow: hidden !important;
}

:root {
  --swiper-theme-color: #6be3aa !important;
  --swiper-pagination-color: #6be3aa !important;

}
/* In your component's .scss or .css file */
.formatted-content {
  margin-top: 50px;
  h2 {
    
    color: var(--title-color);
    font-family: var(--font-hankenGrotesk);
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 35px;
    margin-bottom: unset;
  }

  h3{
    color: var(--title-color);
    font-family: var(--font-hankenGrotesk);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 15px;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 1rem;
  }

  li {
    margin-bottom: 6px;
    // color: #555;
    color: var(--text-color);
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    // margin-bottom: 0;
    strong{
      color: var(--title-color);
    font-family: var(--font-hankenGrotesk);
    // font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    }
  }

  p {
    color: var(--text-color);
    font-family: var(--font-inter);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 20px;
  
  }

  p:last-of-type {
    margin-bottom: 2rem; 
  }
  

  a {
    color: #007bff;
    text-decoration: underline;

    &:hover {
      color: #0056b3;
    }
  }
}

a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 17px;
  &:hover {
    color: var(--primary-color1);
  }
}
.pt-60 {
  padding-top: 60px;
}
.pb-60 {
  padding-bottom: 60px; 
}