.case-study-card2 .card-img img {
    width: 100%;
}

.case-study-card2 .card-content h2 {
    margin-bottom: 8px;
    min-height: 65px;
    line-height: 32px;
    font-size: 32px;
    a{
        color: #232323;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}