<div class="dcl-sprint-section full-page">
  <div class="container">
    <div class="company-logo text-center pb-60">
      <a class="logo-dark"><img alt="image" class="img-fluid"
          src="assets/img/logo_dark.svg" /></a>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12 ">
        <div class="banner-content">
          <div class="text-center">
            <h1>Choose your trusted development partner</h1>
            <p class="mt-60 pb-60">
              Clear Costs, Fast Results! Our team delivers in weeks what five developers would take.
            </p>
          </div>



          <div class="row">
            <div class="col-6">
              <div class="rating-area float-start" style="padding-left: 15px; padding-bottom: 10px;">
                <a target="_blank" href="https://clutch.co/profile/distinct-cloud-labs" class="single-rating clutch">
                  <div class="review" style="width: 100%;">
                    <img src="assets/img/clutch-logo.png" alt="" style="width: 50px" />
                  </div>
                  <div class="rating">
                    <ul class="star clutch-star">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="rating-area float-end" style="padding-right: 15px; padding-bottom: 10px;">
                <a target="_blank" href="https://www.goodfirms.co/company/distinct-cloud-labs"
                  class="single-rating google">
                  <div class="review">
                    <img src="assets/img/goodfirms.svg" style="width: 100px" />
                  </div>
                  <div class="rating">
                    <ul class="star goodfirms-star">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12">
              <app-marketing-testimonials [testimonials]="testimonials"></app-marketing-testimonials>
            </div>
            <div class="col-12">
              <a href="/dcl-sprint#schedule-call-iframe"
                class="primary-btn1 hover-white text-center mt-4 pt-4">Free consultation</a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<div class="home3-faq-section">
  <div class="container">
    <div class="row justify-content-center mb-70">
      <div class="col-lg-8">
        <div class="section-title text-center wow animate fadeInDown" data-wow-delay="200ms" data-wow-duration="1500ms">
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
              <g>
                <circle cx="5" cy="5" r="5" />
              </g>
            </svg>
            Frequently asked questions
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
              <g>
                <circle cx="5" cy="5" r="5" />
              </g>
            </svg>
          </span>
          <h2>Common questions about our services</h2>
        </div>
      </div>
    </div>
    <div class="faq-wrap">
      <div class="faq-content">
        <div class="accordion" id="accordionTravel">
          <div class="row g-lg-5 g-4">
            <div class="col-lg-6 wow animate fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseOne" aria-expanded="true" aria-controls="faqcollapseOne">
                    Why not just hire an employee?
                  </button>
                </h2>
                <div id="faqcollapseOne" class="accordion-collapse collapse show" aria-labelledby="faqheadingOne"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    Hiring is incredibly expensive and time-consuming. You need to attract the right candidates, review
                    hundreds of applications, offer a substantial salary, benefits, and pay the cost of hiring expenses.
                    <br />
                    With our subscription service, you bypass the $140,000 salary, perks, and tedious recruitment to
                    save thousands monthly by instantly working with a seasoned professional who is a full-stack
                    developer, designer and marketer all in one.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseTwo" aria-expanded="false" aria-controls="faqcollapseTwo">
                    How quickly can we start?
                  </button>
                </h2>
                <div id="faqcollapseTwo" class="accordion-collapse collapse" aria-labelledby="faqheadingTwo"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    Today. After subscribing you'll be sent a welcome email, we'll book in a call to get acquainted with
                    the project and you'll be invited to a private Trello workspace. From there you can begin adding
                    to-dos and we will get to work immediately.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseFour" aria-expanded="false" aria-controls="faqcollapseFour">
                    Is there a limit to how many tasks or projects I can have?
                  </button>
                </h2>
                <div id="faqcollapseFour" class="accordion-collapse collapse" aria-labelledby="faqheadingFour"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    With our subscription service, you can add or edit as many tasks in your queue as you need. Our team
                    will compile multiple tasks in your queue and turn them into weekly "Sprints". Tasks inside of a
                    sprint will be completed that week, and each week a new sprint will be created, comprised of new
                    tasks. Each task in a sprint will go into "Review" once completed ensuring that it's completed to
                    your satisfaction before moving on.
                    <br />
                    However only a Single Project can be active at one time. Once your project is complete, you can then
                    create a new project with your existing subscription. If you'd like to have multiple projects
                    developed simultaneously you will need to purchase multiple subscriptions.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 wow animate fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingFive">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseFive" aria-expanded="true" aria-controls="faqcollapseFive">
                    Who is this service NOT for?
                  </button>
                </h2>
                <div id="faqcollapseFive" class="accordion-collapse collapse" aria-labelledby="faqheadingFive"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    If you're looking for a impersonal, fast service that turns around work in 1-2 days, We won't be a
                    good fit for you (and there's plenty of other options out there).
                    <br />
                    If however, you're at a point where you need an expert team with decades of experience who can not
                    only guide you and your team to your next big milestone, but also make it happen for you, we'd
                    probably be a good fit.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseSix" aria-expanded="false" aria-controls="faqcollapseSix">
                    Do you work on existing projects?
                  </button>
                </h2>
                <div id="faqcollapseSix" class="accordion-collapse collapse" aria-labelledby="faqheadingSix"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    No, cause there might be a lot of technial debt in a code base, and also getting familiar with
                    another person code base can really take time, we rather to start writing codes from scrath by our
                    own.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="faqheadingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#faqcollapseThree" aria-expanded="false" aria-controls="faqcollapseThree">
                    Is there a Refund Policy?
                  </button>
                </h2>
                <div id="faqcollapseThree" class="accordion-collapse collapse" aria-labelledby="faqheadingThree"
                  data-bs-parent="#accordionTravel">
                  <div class="accordion-body">
                    Due to the high quality nature of the work, there will be no refunds issued once a Task is active
                    and has started.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="schedule-call-iframe" class="full-page">
  <div class="">
    <iframe style="width: 100%; height: 100vh;" src="https://distinctcloud.io/assessment/basic-details"></iframe>
  </div>
</div>