.feature-img img{
    height: 14%;
}
.home3-feature-section .feature-content-wrap .single-feature .content h3 {
    color: var(--title-color);
    font-family: var(--font-hankenGrotesk);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }