<section class="section-container-1">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="text-center cta-container cta-wrapper wow fadeInUp"
          data-wow-delay="0.2s"
        >
          <div class="cta-content">
            <h2>Done for you - AI Agents</h2>
            <p class="mb-20">
              Ready to explore how our Agents can help your team?
            </p>
            <div class="button-wrapper">
              <a
                href="https://app.miloassistant.ai/signup"
                class="primary-btn1"
              >
                Get started, it’s free
                <svg
                  width="14"
                  height="11"
                  viewBox="0 0 14 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.34643 1.00716C7.61863 0.694937 8.09239 0.662487 8.40462 0.934681L12.9929 4.93468C13.1562 5.07711 13.25 5.28326 13.25 5.50001C13.25 5.71676 13.1562 5.92291 12.9929 6.06534L8.40462 10.0653C8.09239 10.3375 7.61863 10.3051 7.34643 9.99286C7.07424 9.68064 7.10669 9.20687 7.41891 8.93468L10.4984 6.25001H1.5C1.08579 6.25001 0.75 5.91422 0.75 5.50001C0.75 5.0858 1.08579 4.75001 1.5 4.75001H10.4984L7.41891 2.06534C7.10669 1.79315 7.07424 1.31938 7.34643 1.00716Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
              <a href="/contact" class="fw_6 link color">Contact sales </a>
            </div>
             <!-- <div class="robot-img">
                        <img src="assets/images/robot-img.png"/>
                    </div> -->
            <span class="third-image">
              <img ngSrc="/assets/img/users/user_image3.webp" width="80" height="80" loading="lazy" alt="image">
            </span>
            <span class="fourth-image">
                <img ngSrc="/assets/img/users/user_image4.webp" width="80" height="80" loading="lazy" alt="image">
            </span>

          </div>

         
        </div>
      </div>
    </div>
  </div>
</section>
